/* Font - Gilroy */
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-ThinItalic.ttf);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-UltraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-UltraLightItalic.ttf);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-RegularItalic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-SemiBoldItalic.ttf);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-ExtraBoldItalic.ttf);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-Heavy.ttf);
  font-style: normal;
  font-weight: 1000;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/font/Gilroy/Gilroy-HeavyItalic.ttf);
  font-style: italic;
  font-weight: 1000;
}

/* Font - Gilroy */




/* Font - PP Mori */

@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-Extralight.otf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-ExtralightItalic.otf);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-RegularItalic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'PP Mori';
  src: url(../assets/font/PPMori/PPMori-SemiBoldItalic.otf);
  font-style: italic;
  font-weight: 600;
}
